body {
  background-image: url(images/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}
html, body, .container {
  height: 100%;
}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
}

/* Basic */
body { 
  font: 18px/23px "Cantarell", sans-serif;
  color: #ffffff;
}

h1 {
  color: #efecec;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}

a {
  color: #ffffff;
}

p {
  margin: 0 0 15px 0;
}

strong {
  font-weight: 700;
}
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  z-index: 9999;
  position: fixed;
}
.inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.navbar a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 5px;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}





footer {
	width: 100%;
	
	position: absolute;
	bottom: 0;
    left: 0;
}

#footer-content {
	display: none;	
}

#footer-center {
	width: 100%;
	
	height: 145px;
	
	float: right;
	
	background-color: rgba(178, 159, 99, 0.8);
	
}
.lv {
	width: 51%;
	margin: 0 auto;
}
.toggle-footer {
	width: 100px;
	margin: 0 auto;
	padding: 10px;
	
	cursor: pointer;
	
	text-align: center;
	
	background-color: rgba(178, 159, 99, 0.8);
	
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
}




.round-button {
	width:110px;
	float: left;
	margin: 7px 28px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
}
.round-button-circle:hover {
  -webkit-filter: grayscale(100%);
}
#fatacaine {
    background-image: url(images/fatacaine.gif);
}
#fatapisica {
    background-image: url(images/fatapisica.gif);
}
#fatapeste {
    background-image: url(images/fatapeste.gif);
}
#fatapasare {
    background-image: url(images/fatapasare.gif);
}



.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, .50);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}
 
.popup {
    padding: 20px 10px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    
    width: 300px;
	margin: 5px auto;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
}
.close {
	color: #fff;
	float: right;
	position: relative;
	bottom: 20px;
}

form p{ padding: 5px 0;}
select, form input[type=text], form input[type=password]{ padding: .5em .6em;
margin: 5px 0;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
border-radius: 4px;
box-sizing: border-box;}

.continer {
	width: 1200px;
	margin: 0 auto;
	padding-top: 100px;
}
.caine {
	width: 29.32%;
	margin: 2%;
	text-align: center;
	background-color: #fff;
	min-height: 530px;
	color: #000;
	float: left;
}
.imganimal {
	width: 100%;
}
.imganimal img {
	width: 100%;
}
.nume {
	margin-top: -6px;
	width: 100%;
	padding: 10px 0;
	font-size: 30px;
	box-shadow: inset 1px 1px 1px #ddd;
	box-sizing: border-box;
}
.varsta, .greutate, .dimensiune, .sex {
	width: 50%;
	float: left;
	padding: 10px 0;
	box-shadow: inset 1px 1px 1px #ddd;
	box-sizing: border-box;
}
.culoare {
	width: 100%;
	padding: 10px 0;
	float: left;
	box-shadow: inset 1px 1px 1px #ddd;
	box-sizing: border-box;
}
.change {
	display: none;
	position: absolute;
	z-index: 100;
	color: #fff;
	font-size: 30px;
	padding: 10px 10px;
	background: #000;
	min-width: 116px;
}
.update {
	margin: 10% 9%;
}
.delete {
	margin: 14% 9%;
}
.imganimal:hover > .change {
	display: block;
}
.cd-buttons input[type="submit"] {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    line-height: 60px;
	text-transform: uppercase;
	color: #FFF;
	font: inherit;
}

.slider{
        background-color: gray;
        color: white;
      }
.rasa {
	padding: 10px 0;
	font-size: 30px;
}
#toate {
	display: inline-block;
	border: 1px solid #fff;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	padding: 2px 15px;
	text-decoration: none;
	margin-top: 5px;
	background-color: transparent;
	color: white;
}
